<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel app</title>
</head>

<body>
    <header>
        <div class="title">
            <div class="subHeader" id='welcome'>Welcome To</div>
            <h1>Travel Planner</h1>
            <div class="subHeader">Find new possibilities . . .</div>
            <button id="goTo"><a href="#travel1">Plan your <br>trip</a></button>
        </div>
    </header>
    <main>
        <section class="hero" id="travel1">
            <div class="content" id='content'>
                <h2>Setup your Travel Planner:</h2>
                <form onsubmit="return Client.handleSubmit(event)">
                    <label class="city" for="city"><h3>Destination City:</h3></label>
                    <input id="city" class="city" placeholder="Where to..." name="city" type="text" required>
                    <label for="date" class="text-center"><h3>Arrival Date:</h3></label>
                    <input type="date" name="date" id="departDate" class="date" min="0" required><br>
                    <button type="submit" class="submit" id="submit">Search</button>
                </form>
            </div>
            <div id="info">
                <article>
                    <h2 id='cityInfo'></h2>
                    <div id='wData'>
                        <div id="temp"></div>
                        <div id="info"></div>
                    </div>
                </article>
                <div id="save"></div>
            </div>
        </section>
        <section class="hero" id="travel2">
            <div class="content">
                <h2>Your Trips:</h2>
            </div>
    </main>
    <footer></footer>
    <div class="subfooter">
        &copy; 2021
    </div>
</body>
<script>
    // if ('serviceWorker' in navigator) {
    //     window.addEventListener('load', () => {
    //         navigator.serviceWorker.register('/service-worker.js');
    //     });
    // }
</script>

</html>