// Set vars for colors 
$prime-color: #034752;
$sec-color: #D47863;
$third-color: #64A803;
$fourth-color: #87DCF0;
$fifth-color: #6D7779;
// header styles 
header {}

nav {}

nav {
    ul {}
    li {}
    a {}
}